.gradient-background {
    background: linear-gradient(300deg, #051A38, #723C4B, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.profile{
    border-radius: 50%;
    height: 200px;
}


.title{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 80px;
    margin: 0;

}
.title h1{
    font-size: 115px;
    color: aliceblue;
    
}
.title h2{
    font-size: 30px;
    color: aliceblue;
    
}
.flex{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#s2 p{
    font-size: x-large;
    font-weight: 350;


}



  